html {
    --accent1: #FF4141;
    --text1: #fff;
    --text2: #ffffffd8;
    --background1: #1C1C1C;
    --background2: #242424;
}

html {
    scroll-behavior: smooth;
    color: var(--text1);
    font-family: 'Inter', sans-serif;
  }
  
body {
    background-color: var(--background1);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.btn {
    background-color: var(--accent1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem
}

.logo2 {
    height: 100px
}

.padding {
    padding: 1rem
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');